# Section HTML
snippet hth "H1 - H6" br
<h$1>$2</h$1>
endsnippet

snippet htnav "nav" br
<nav className={$1}>$2</nav>
endsnippet

snippet htm "Toda las etiquetas" br
<$1>$2</$1>
endsnippet
# END Section HTML

